# Build ASP.NET Core project using Azure Pipelines
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core?view=vsts

#pool:
#  vmImage: 'Ubuntu 16.04'
pool: Default

variables:
  buildConfiguration: 'Release'
#  buildConfiguration: 'Test'

steps:
- script: |
    echo This is pipeline $(System.DefinitionId)
    SET "MSBuildSDKsPath=C:\Program Files\dotnet\sdk\2.1.504\Sdks"
    echo %MSBuildSDKsPath% set in CMD session
    cd "C:\Users\mfadmin\source\repos\CopyNetCoreDemo"
    echo cd to CopyNetCoreDemo done
    sourceanalyzer -b test -clean
    echo Test build cleaned by sourceanalyzer
    sourceanalyzer -b test "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\msbuild.exe" dotnetcore-sample.sln -t:rebuild
    echo msbuild run?
    sourceanalyzer -b test -scan -f output.fpr
    echo fpr output?
#- script: |
#    dotnet build --configuration $(buildConfiguration)
#    dotnet test dotnetcore-tests --configuration $(buildConfiguration) --logger trx
#    dotnet publish --configuration $(buildConfiguration) --output $BUILD_ARTIFACTSTAGINGDIRECTORY

#- task: PublishTestResults@2
#  condition: succeededOrFailed()
#  inputs:
#    testRunner: VSTest
#    testResultsFiles: '**/*.trx'

#- task: PublishBuildArtifacts@1
