# Build ASP.NET Core project using Azure Pipelines
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core?view=vsts

#pool:
#  vmImage: 'Ubuntu 16.04'
pool: Default

variables:
  buildConfiguration: 'Release'
#  buildConfiguration: 'Test'

steps:
- script: |
    echo This is pipeline $(System.DefinitionId)
    sourceanalyzer -b test -clean
    echo Test cleaned by sourceanalyzer
    dotnet msbuild dotnetcore-sample.sln -t:rebuild -logger:"C:\Program Files\Fortify\Fortify_SCA_and_Apps_18.10\Core\lib\FortifyMSBuildTouchless.dll"
    echo msbuild run!
    sourceanalyzer -b test -scan -f output.fpr
#- script: |
#    dotnet build --configuration $(buildConfiguration)
#    dotnet test dotnetcore-tests --configuration $(buildConfiguration) --logger trx
#    dotnet publish --configuration $(buildConfiguration) --output $BUILD_ARTIFACTSTAGINGDIRECTORY

#- task: PublishTestResults@2
#  condition: succeededOrFailed()
#  inputs:
#    testRunner: VSTest
#    testResultsFiles: '**/*.trx'

#- task: PublishBuildArtifacts@1
