# Build ASP.NET Core project using Azure Pipelines
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core?view=vsts

pool: Default

variables:
  buildConfiguration: 'Release'
  fortifyBuild: 'test'

steps:
- script: |
    echo This is pipeline $(System.DefinitionId), workingDirectory set to $(Agent.BuildDirectory)
    SET "MSBuildSDKsPath=C:\Program Files\dotnet\sdk\2.1.504\Sdks"
    echo %MSBuildSDKsPath% and %MSBuildPath% set in CMD session, $(Build.Repository.LocalPath) is local build repository
    sourceanalyzer -b $(fortifyBuild) -clean
    echo $(fortifyBuild) build cleaned by sourceanalyzer
    sourceanalyzer -b $(fortifyBuild) "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\msbuild.exe"\
     dotnetcore-sample.sln -t:rebuild
    echo MSBuild run complete
    sourceanalyzer -b $(fortifyBuild) -scan -f output.fpr
    echo fpr in $(workingDirectory) $(Agent.BuildDirectory)
  workingDirectory: $(Agent.BuildDirectory)
  displayName: MSBuild Sourceanalyzer Integration
#- script: |
#    dotnet build --configuration $(buildConfiguration)
#    dotnet test dotnetcore-tests --configuration $(buildConfiguration) --logger trx
#    dotnet publish --configuration $(buildConfiguration) --output $BUILD_ARTIFACTSTAGINGDIRECTORY

#- task: PublishTestResults@2
#  condition: succeededOrFailed()
#  inputs:
#    testRunner: VSTest
#    testResultsFiles: '**/*.trx'

#- task: PublishBuildArtifacts@1
